* {
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(164, 142, 168); 
  
}
.inline fields{
  align-items: center;
}
input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.App {
  text-align: center;
  
}


.App-header {
  background-color: #8b5f5f;
  padding: 20px;
  color: rgb(8, 8, 8);
}
 